<% content_for :browser_title, "Iron - Frontpage" %>
<% content_for :page_header, "Frontpage" %>
<% content_for :page_types, :splash %>

<p>
  Welcome!
</p>

<section class="call-to-actions btn-group">
  <%= button_to("Sign out", destroy_account_session_path(), :method => :delete, data: {:confirm => "You sure?"}, :class => "btn btn-link link-primary") %>
</section>
